{% include 'components/header.html' %}

<main>
  <div class="container mt-2">
    <h1 class="text-center mt-4">Welcome to MyBook</h1>
    {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endif %}
    <form class="mt-4 text-center" method="post" action="/login">
      <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input name="email" type="email" id="email" class="form-control" value="demo1@example.com" required />
        <label class="form-label" for="email">Email address</label>
      </div>

      <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input name="password" type="password" id="password" class="form-control" value="password1" required />
        <label class="form-label" for="password">Password</label>
      </div>

      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="form2Example31" />
            <label class="form-check-label" for="form2Example31"> Remember me </label>
          </div>
        </div>

        <div class="col">
          <!-- Simple link -->
          <a href="#!">Forgot password?</a>
        </div>
      </div>

      <!-- Submit button -->
      <!-- Submit button -->
<button type="submit" id="login" data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>

      <!-- Register buttons -->
      <div class="text-center">
        <p>Not a member? <a href="#!">Register</a></p>
      </div>
    </form>
  </div>
</main>

{% include 'components/footer.html' %}